.hd{
    background-color: #679a06;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
select{
    width: 200px;
    border-radius: 20px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.351);
    padding-left: 10px;
    color: white;
}
option{
    color: black;
}
.hd span{
    color: white;
}
.hd strong{
    font-size: 20px;
}
.hd span a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.hv{
    width: 5px;
    height: 5px;
    background-color: white;
    border-top: 3px solid gray;
    border-right: 3px solid gray;
    transform: rotate(45deg);
}

.mn ul{
    border: #679a06 1px solid;
    margin-left: 150px;
    padding-left: 0;
    width: 300px;
    list-style: none;
    
}

.mn li{
    display: flex;
    align-items: center;
    line-height: 35px;
    
}
.mn ul li a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.mn li:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.174);
}
.mn a:hover{
    color: #679a06;
}
.sp{
    display: flex;
    flex-wrap:wrap ;
    position: absolute;
    top: 124px;
    left: 490px;
    width: 900px;
    font-size: .9em;
    text-align: center;
    
}
.sp a{
    text-decoration: none;
}
.sp img{
   width:100%;
    
}
.sp div{
    width: 20%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* margin-right: 10px; */
    margin: 0 10px;
    margin-bottom: 15px;
    
}